// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ------index-------*/

.books {
  margin-bottom: 20px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

.create_form {
  margin-top: 30px;
}

.create_form h2 {
  margin-bottom: 20px;
}

.form {
  margin-bottom: 10px;

}

.submit {
  display: block;
  margin-bottom: 10px;
}

/*-------------------show-----------------*/


strong {
  font-weight: bold;
}

.contents p {
  margin-left: 30px;
  margin-bottom: 30px;
}

/*------------------edit---------------------*/

.editing-book {
  margin-bottom: 20px;
}
